* {
    margin: 0;
    padding: 0;
}

html {
    background-color: whitesmoke;
    font-family: 'Open Sans', Sans-Serif;
}

header {
    width: 100%;
    background-color: #00a0a5;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    margin-bottom: 30px;
    Font-Family: 'Ubuntu', Sans-Serif;
    Font-Size: 40px;
}

@media screen and (max-width: 600px) {
    h1 {
        color: white;
        margin-bottom: 30px;
        Font-Family: 'Ubuntu', Sans-Serif;
        Font-Size: 22px;
    }
}


#nav_content{
    display: flex;
    width: 100%;
    height: 30px;
    position: fixed;
    top:82px;
    padding-top: 5px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}


#nav_content a {
    margin: 0 40px;
    padding: 5px 6px;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    #nav_content a {
        margin: 0 40px;
        padding: 5px 6px;
        color: black;
        text-decoration: none;
        font-size: 12px;
    }
}

#nav_1 {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

#nav_2 {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}


#mainBox {
    display: block;
    background-color: #E2E7E8;
    max-width: 800px;
    margin: 40px auto;
    padding: 30px 20px;
    border-radius: 5px ;
}

#inputBox {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    #inputBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.inputs {
    border-radius: 5px;
    background-color: white;
    padding: 13px;
    box-shadow: 2px 2px 3px #666;
    width:280px;
    margin: 5px;
}

@media screen and (max-width: 600px) {
    .inputs {
        border-radius: 5px;
        background-color: white;
        padding: 13px;
        box-shadow: 2px 2px 3px #666;
        width:280px;
        margin-bottom: 10px;
    }
}

.inputs:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
}

#choice_1 {
    width:80%;
    list-style-type: none;
    margin: 20px auto;
}


#choice_1 input:hover {
    cursor: pointer;
}

#choice_1 span {
    font-size: 12px;
    color: #71777b;
}

#or {
    text-align: center;
    margin: 8px auto;
}

#formula, #molweight {
    padding: 5px;
    border-radius:3px;
    border: 1px solid #000;
    width: 120px;
}

#choice_2 {
    width:100%;
    text-align: left;
    margin: 30px auto;
}

#choice_2 label {
    text-align: left;
}

#mass, #volume, #molar {
    padding: 5px;
    background-color: #e4e4e496;
    border: none;
}

#label, #volume {
    display: inline;
}

#choice_3 {
    margin: 20px auto;
}


#units {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

#outputBox { 
    display: flex;
    margin: 50px;
    font-family: helvetica;
    font-weight: bold;
    font-size: 18px;
    width: 95%;
    justify-content: space-evenly;
}


@media screen and (max-width: 600px) {
    #outputBox {
        display: flex;
        margin: 20px;
        font-family: helvetica;
        font-weight: bold;
        font-size: 18px;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }
}

.outputs {
    width:240px;
}

@media screen and (max-width: 600px) {
    .outputs {
        width:240px;
        margin-bottom: 25px;
        margin-left: 35px;
    }
}


.form label {
    display: block;
    text-align: center;
}

#input, #output{
    width: 150px;
    font-size: 20px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #666;
    border: 1px solid #000;
    margin-right: 5px; 

}

#input::-webkit-outer-spin-button,
#input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#button_container {
    display: flex;
    justify-content: center;
}

#button_container p {
    display: flex;
    align-items: center;
    margin:0 10px;
    letter-spacing: 0.2em;
    font-size:28px;
    font-family: monospace;
}

#calculate_button {
    background-color: rgb(13, 166, 161);
    color: white;
    height: 32px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
    border: 2px solid rgb(13, 166, 161);
    box-sizing: border-box;
  }



#calculate_button:hover {
    background-color: rgb(13, 105, 102);
    border: 2px solid rgb(13, 105, 102);
    }

#calculate_button:active {
    border-color: #fff;
}

#result {
    margin-top: 20px;
}